upstream web_backend {
    server web:${WEB_PORT};
}

upstream auth_backend {
    server auth-service:${AUTH_PORT};
}

upstream profile_backend {
    server profile-service:${PROFILE_PORT};
}

server {
    listen ${NGINX_HOST}:${NGINX_PORT};
    server_name _;
    client_max_body_size 100M;

    error_log /var/log/nginx/error.log debug;
    access_log /var/log/nginx/access.log;

    location / {
        proxy_pass http://web_backend;
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location /${AUTH_PATH_PREFIX}/ {
        proxy_pass http://auth_backend/${AUTH_PATH_PREFIX}/;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        proxy_buffering on;
        proxy_buffer_size 128k;
        proxy_buffers 4 256k;
        
        proxy_connect_timeout 60s;
        proxy_send_timeout 60s;
        proxy_read_timeout 60s;
    }
    location /docs/auth/ {
        proxy_pass http://auth_backend/${AUTH_PATH_PREFIX}/docs/;
    }

    location /${PROFILE_PATH_PREFIX}/ {
        proxy_pass http://profile_backend/${PROFILE_PATH_PREFIX}/;
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        
        proxy_buffering on;
        proxy_buffer_size 128k;
        proxy_buffers 4 256k;
        
        proxy_connect_timeout 60s;
        proxy_send_timeout 60s;
        proxy_read_timeout 60s;
    }
    location /docs/profile/ {
        proxy_pass http://profile_backend/${PROFILE_PATH_PREFIX}/docs/;
    }

    location /health {
        access_log off;
        return 200 "healthy\n";
        add_header Content-Type text/plain;
    }
}